# Base React files
twisterapp-client/node_modules
twisterapp-client/package-lock.json
twisterapp-client/package.json
twisterapp-client/public
twisterapp-client/README.md
# Exclude compiled files from server part
technoweb-serveur/build
technoweb-serveur/RemoteSystemsTempFiles